.parkinsans {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(130deg, #958f80d3 48%, #ffffff  52%);
}


header {
    width: 100%;
}

.buscador {
    background-color: #f0f0f0fb;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buscador button {
    padding: 10px 20px;
    background-color: #8b8989;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buscador button:hover {
    background-color: #777777b4;
}



.nav {

    background-image: url(/imagenes/fondo-indice.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo menu1"
        "presentacion presentacion";
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "parkinsans", sans-serif;
    border-radius: 10px;
}

.logo img {
    width: 70px;
    height: 60px;
}

.logo {
    grid-area: logo;
    margin: 10px auto;
    width: 20%;
}

.menu {
    grid-area: menu1;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    flex-direction: row;
    padding: 5px;
    gap: 20px;

}

.menu li {
    position: relative;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    padding: 5px 15px;
}

.menu li:hover {
    background-color: #cd9d8d80;
    transition: background-color 1s ease, color 0.6s ease, transform 1s ease;
    cursor: pointer;
    border-radius: 5px;
    filter: drop-shadow(0 2px 4px rgba(39, 39, 39, 0.1));
    transform: scale(1.05);
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Parkinsans", sans-serif;
    text-shadow: #adaaaa 0px 0px 3px;
    text-align: center;
   
}

.sec_bienvenida {
    grid-area: presentacion;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto 30px auto;
    text-align: center;
    align-items: center;
}
.sec_bienvenida h1 {
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 10px 0;
    text-shadow: #ffffff 0px 0px 3px;}

.sec_bienvenida p {
    font-family: "Parkinsans", sans-serif;
    color: #3b3a3a;
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 10px 0;
    font-weight: 600;
    line-height: 1.5;
}
.sec_indice{
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    background-image: url(../imagenes/fondo-indice2.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.sec_indice h2 {
    display: inline-block;
    color: #161616;
    font-family: "Parkinsans", sans-serif;
    margin:0 0 0 10px;
   
    padding: 20px 0;
    font-size: 1.5rem;
    text-shadow: #141414 0px 0px 3px;
}

.indice {
    display: grid;
    width: 50%;
    height: 60%;
    margin: 0 0 20px auto;  ;
    grid-template-columns: repeat(auto-fit, minmax(150px, 20%));
    gap: 10px;
    list-style: none;
    padding: 5px;
    position: relative;
    border-radius: 10px;

}

.indice li {
    background-color: #e2e2e246;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    transition: transform 2s ease, background-color 2s ease;
}

.indice li:hover {
    transform: scale(1.05);
    background-color: #f3f3f3d5;

    cursor: pointer;
    filter: drop-shadow(0 2px 4px rgba(39, 39, 39, 0.1));
    transition: transform 1s ease, background-color 1s ease;
}

.indice li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Parkinsans", sans-serif;
}

.indice li p {
    color: #000000;
    font-family: "Parkinsans", sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 1px 0;
    font-size: 0.8rem;
    text-shadow: #686868 0px 0px 5px;
}

.indice li a img {
    width: 100%;
    height: 45%;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*fin de la seccion indice general*/
/*comienzo de seccion receta pizza*/
.card-recetas {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: 800;
}
#card-pizzas {
    background-image: url(../imagenes/foto\ pizza\ 2.png);
    background-size: cover;
}
#card-carnes {
    background-image: url(../imagenes/fondo-carnes.jpg);
    background-size: cover;
}

#card-postres {
    background-image: url(../imagenes/fondo-postres.jpg);
    background-size: cover;
}
.card-recetas h2 {
    display: inline-block;
    color: #242424;
    font-family: "Parkinsans", sans-serif;
    margin:0 0 0 10px;
    font-size: 1.5rem;
    text-shadow: #c4c0c0 0px 0px 3px;
}

.card-listado {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 20px auto;  ;
    grid-template-columns: repeat(auto-fit, minmax(150px, 20%));
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 5px;
    position: relative;
    border-radius: 10px;

}

.card-listado li {

    height: 100%;
    background-color: #a7a6a646;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
    font-family: "Parkinsans", sans-serif;
    transition: transform 2s ease, background-color 2s ease;
}

.card-listado li:hover {
    transform: scale(1.05);
    background-color: #f3f3f3d5;

    cursor: pointer;
    filter: drop-shadow(0 2px 4px rgba(39, 39, 39, 0.1));
    transition: transform 1s ease, background-color 1s ease;
}

.card-listado li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Parkinsans", sans-serif;
}
.card-listado li h3 {
    color: #000000;
    font-family: "Parkinsans", sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    text-shadow: #686868 0px 0px 5px;
}

.card-listado li p {
    color: #000000;
    font-family: "Parkinsans", sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 1px 0;
    font-size: 0.7rem;
    text-shadow: #686868 0px 0px 5px;
}

.card-listado li a img {
    width: 100%;
    height: 45%;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*inicio de la seccion receta pizza*/


.presentacion-pizza {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
}

.presentacion-pizza h1 {
    display: inline-block;
    margin: 20, auto 0;
    border: 1px solid #000000;
    border-radius: 999px;
    color: #000000;
    text-align: center;

    font-family: "Parkinsans", sans-serif;
    font-size: 2rem;
    padding: 10px 40px;
    background: #fff;
    /* Opcional: para que el fondo sea blanco */
}


/*fin de la presentacion pizza*/

/*inicio de la seccion ingredientes*/
.articulo-pizza-ingredientes {
    display: grid;
    width: 70%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 15px 10px;
    background-color: #e0af65be;

    border-radius: 10px;
}

.tabla-receta-pizza {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    background-color: #c5c2c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    border: #686868 1px solid;
}

.tabla-receta-pizza th:hover,
.tabla-receta-pizza td:hover {
    background-color: rgb(145, 142, 142);
}

#pizza-receta-imagen {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.562);
    border: #686868 1px solid;


}

/*fin de la seccion ingredientes*/
/*inicio de la seccion pasos*/


.articulo-pasos {
    width: 80%;
    height: auto;
    margin: 15px auto;
    padding: 15px 10px;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    background-color: #e0af65be;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;

}

.articulo-pasos ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.articulo-pasos h3 {
    text-align: center;
    margin: 0 auto;
}

.carnes{
    width: 90%;
    margin: 20px auto;
    background-image: url(../imagenes/fondo-bondiola.webp);
    background-size: cover;
    border-radius: 10px;
    padding-bottom: 10px;
}
.presentacion-carnes p,
.presentacion-carnes h3 {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Parkinsans", sans-serif;
    color: #cecdcd;
    font-weight: 800;
    text-shadow: #141414 2px 0px 3px;
}


.carnes h1 {
    display: inline-block;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-family: "Parkinsans", sans-serif;
    font-size: 1.5rem;
    padding: 10px 40px;
    
}

/*fin de la seccion presentacion carnes*/
/*inicio de la seccion ingredientes*/
.articulo-carnes-ingredientes {
    display: grid;
    width: 70%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 15px 10px;
    background-color: #bb652bd7;

    border-radius: 10px;
}

.tabla-receta-carnes {
    width: 100%;
    margin: auto;
    height: 100%;
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    background-color: #c5c2c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    border: #686868 1px solid;
   
}



.tabla-receta-carnes th:hover,
.tabla-receta-carnes td:hover {
    background-color: rgb(145, 142, 142);
}

.articulo-carnes-ingredientes img {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.articulo-pasos h3 {
    text-align: center;
    margin: 0 auto;
}


.articulo-pasos {
    width: 80%;
    height: auto;
    margin: 15px auto;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    background-color: #b66522be;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    list-style-position: inside;

}
.volver-indice a{
    text-decoration: none;
    color: #000000;
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #9e9e9e;
}
.volver-indice a:hover {
    color: #383737;
    background-color: #dacaca;    
    border-radius: 5px;
}

.presentacion-postres {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
}

.presentacion-postres h1 {
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 999px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-family: "Parkinsans", sans-serif;
    font-size: 2rem;
    padding: 10px 40px;
    background: #fff;
}

.articulo-postres-ingredientes {
    display: grid;
    width: 70%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 15px 10px;
    background-color: #a3745dd7;

    border-radius: 10px;
}

.tabla-receta-postres {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    font-family: "Parkinsans", sans-serif;
    background-color: #dadadabe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    border: #686868 1px solid;
}

.tabla-receta-postres th:hover,
.tabla-receta-postres td:hover {
    background-color: rgb(145, 142, 142);
}

.tabla-receta-postres-masa {
    padding: 0 10px;
}

.articulo-postres-ingredientes img {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 15px;
}


.articulo-pasos {
    width: 80%;
    height: auto;
    margin: 15px auto;
    padding: 10px 0;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    background-color: #a3745dd7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden
}

.articulo-pasos h3 {
   
    text-align: center;
}

.seccion-contacto {
    display: grid;
    width: 80%;
   
    grid-template-rows: 1fr auto;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 0;
    font-family: "Parkinsans", sans-serif;
}

.presentacion-contacto {
    
    text-align: center;
}

.contacto {
    margin: 0 auto;
    background-color: #e2e0e0fb;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
   

}

.form-contacto {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.637);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Parkinsans", sans-serif;
    color: #000000;
}



.form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

}

.form-contacto button {
    width: 80%;
    padding: 10px 20px;
    background-color: #8b8989;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto;

}

.form-contacto button:hover {
    background-color: #777777b4;
}

.form-contacto label {
    margin: 10px auto;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
}

.form-contacto textarea {
    height: 100px;
    resize: vertical;
}

#pop-up {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%);
    background: #b3b2b2a4;
    border: 2px solid #333;
    padding: 20px;
    z-index: 9999;
}

#pop-up h3,
p {
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    text-align: center;

}

#cerrar-pop-up {
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    color: #000000;
}

#contenido-pop-up {
    margin-top: 20px;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    text-align: center;
}

#botonInicio {
    display: block;
    margin: 20px auto;
    background-color: #bebabab4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botonInicio:hover {
    background-color: #a9a9a9b4;
}

#botonInicio a {
    text-decoration: none;
    color: #000000;
    font-family: "Parkinsans", sans-serif;
    font-weight: bold;
}

footer p {
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

footer ul li {
    margin: 5px 0;
}


footer {
    display: flex;
    flex-direction: row;
    background-image: url(../imagenes/fondo-footer.webp);
    background-size: cover;
    padding: 20px;
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    color: #000000;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    justify-content: space-around;
    border-radius: 10px;
}



footer .logo-footer {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.redes-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: row;
}

.redes-logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10%;
}

/* ===================== CELULARES ===================== */
@media (max-width: 425px) {
    body {
        width: 100vw;
        padding: 0;
        margin: 0;
        font-size: 0.95rem;
    }

    .header,
    .buscador,
    .nav,
    .sec_bienvenida,
    .sec_indice,
    .card-recetas,
    .card-listado {
        width: 98%;
        margin: 0 auto;
        padding: 10px 0;
        box-sizing: border-box;
    }
   .logo {
        width: 50%;
        margin: 0 auto;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;  
        width: 98%;
        margin: 0 auto;
        padding: 10px 0;
        box-sizing: border-box;
    }
    .pizzas{
        width: 98%;
        margin: 20px auto;
    }


    .presentacion-pizza h1{
        font-size: 1.5rem;
        padding: 10px 20px;
    }
    

    .buscador {
        flex-direction: column;
        justify-items: center;
        align-items: stretch;
        gap: 10px;
    }
#buscador input[type="text"] {
        width: 90%;
        margin: 0 auto;
    }

    #boton-buscar {
        width: 90%;
        margin: 0 auto;
    }
    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .articulo-pasos {
        max-height: calc(1.5em * 10); /* 6 líneas de texto, asumiendo line-height: 1.5em */
        overflow-y: auto;
        line-height: 1.5em;
        padding: 10px;
        background-color: #fffbe6;
        border: 1px solid #e0af65be;
        border-radius: 10px;
        box-sizing: border-box;
        /* Opcional: para mostrar que se puede hacer scroll */
        scrollbar-width: thin;
        scrollbar-color: #e0af65be #f3f3f3d5;
    }

    .indice,
    .card-listado {
        grid-template-columns: 1fr;
        width: 65%;
        margin: 0 auto;
        gap: 10px;
    }
.card-listado li{
    height: auto;
}
    .fotos-indice {
        width: 90%;
        height: auto;
    }

    .logo-footer,
    .redes-footer {
        display: block;
        text-align: center;
        margin: 10px auto;
    }
    .volver-indice a {
        display: block;
        width: 80%;
        text-align: center;
        margin: 10px auto;
        padding: 10px;
        background-color: #9e9e9e;
        color: #000000;
        font-family: "Parkinsans", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
    }
    .contacto{
        padding: 14px;
    }
    .imagen-contacto {
        display: none;
    }
    .seccion-contacto {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "presentacion"
            "formulario";
    }

/* ===================== TABLETS ===================== */
@media (min-width: 426px) and (max-width: 768px) {
    body {
        width: 100vw;
        font-size: 1rem;
    }

    .header,
    .buscador,
    .nav,
    .logo,
    .sec_bienvenida,
    .sec_indice,
    .card-recetas,
    .card-listado,
    footer {
        width: 98%;
        margin: 0 auto;
        padding: 15px 0;
        box-sizing: border-box;
    }

    .buscador {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .menu {
        flex-direction: row;
        gap: 15px;
    }

    .indice,
    .card-listado {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 0 auto;
        gap: 15px;
    }
.card-listado li{
    height: 100%;
}
    .fotos-indice {
        width: 100%;
        height: auto;
    }

    .logo-footer,
    .redes-footer {
        display: block;
        text-align: center;
        margin: 10px auto;
    }
}
}
