.parkinsans {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;

}


header {
    width: 100%;
}

.buscador {
    background-color: aquamarine;
    text-align: right;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h1 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif
}

.nav {
    background-color: #f0f0f0fb;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
}



.menu li {
    position: relative;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu li:hover {
    background-color: #bbb8b888;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
}
.menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Parkinsans", sans-serif;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #ffffffad;
    padding: 5px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.menu li:hover .submenu {
    display: block;

}

.submenu li {
    padding: 5px 10px;
    color: #000000;
    text-decoration: none;
}

.sec_bienvenida::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        url('/imagenes/mi-gran-libro-de-recetas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
    box-sizing: border-box;
}


.sec_bienvenida {
    position: relative;
    color: rgba(236, 236, 236, 0.856);
    text-shadow: #686868 0px 0px 5px;
    overflow: hidden;
    box-sizing: border-box;

}

.sec_bienvenida h2 {
    color: #d8d8d8;
    font-family: "Parkinsans", sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    text-shadow: #686868 0px 0px 5px;
}

#parrafo-bienvenida {
    color: #d8d8d8;
    position: relative;
    font-family: "Parkinsans", sans-serif;
    width: 60%;
    text-align: center;
    margin: 0.6rem auto;

}
.sec_indice h2 {
    color: #696969;
    font-family: "Parkinsans", sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 2rem;
    text-shadow: #686868 0px 0px 3px;
}

.indice {
    display: grid;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    list-style: none;
    position: relative;

}

.indice li {
    padding: 5px;
    background-color: #6b6b6bad;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    text-align: center;
    font-family: "Parkinsans", sans-serif

}

.indice li:hover {
    transform: scale(1.1);
}

.indice li a {
    text-decoration: none;
    color: #333232;
   font-weight: bold;
    font-size: 1.3rem;
}

.indice li p {
    font-size: 0.8rem;
    color: #000000;
    font-weight: normal;
}

.fotos-indice{
    margin-top: 0.8rem;
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
   filter: drop-shadow(0 0 10px #000000);
   
}

 